<template name="pos_showTable">
    <button id="{{_id}}" style="position:absolute;left:{{left}}px;top:{{top}}px;width:200px;">
        {{name}}
    </button>

    <!--
    <div id="{{_id}}" class="modal">
        <div class="modal-header">

            {{name}}
        </div>
        <div class="modal-body">
            <span class="label label-success addfield"> Invoices: </span>
            <ul class="nav nav-pills nav-stacked">
                <li>001</li>
                <li>002</li>
            </ul>
        </div>
    </div>-->
</template>