<template name="pos_checkout">
    <div class="wrap-content" style="padding: 5px;">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Sale</b></h3>
                    </div>
                    <div class="panel-body">
                        {{#each categories}}
                            <ol>
                                <li>
                                    {{name}}
                                    <ul>
                                        {{#each products}}
                                            {{name}}
                                        {{/each}}
                                    </ul>
                                </li>
                            </ol>

                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Product List</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-responsive table-condensed table-hover table-bordered">
                                <thead class="jumbotron">
                                <tr>
                                    <th>Item</th>
                                    <th class="align-center">Price</th>
                                    <th class="align-center">Qty</th>
                                    <th class="align-center">Dis</th>
                                    <th class="align-center">Amount</th>
                                    <th class="align-center">&nbsp;&nbsp;Action&nbsp;&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody class="align-center" id="product-list">
                                <tr data-id="{{_id}}">

                                    <td align="left">
                                        Coca(small)
                                    </td>
                                    <td>
                                        <input type="text" class="la-box price validation" step="0.01"
                                               value="2"/>

                                    </td>
                                    <td>
                                        <input type="text" style="width: 100px;" min="1"
                                               class="la-box quantity validation"
                                               value="2"/>

                                    </td>
                                    <td>
                                        <input type="text" min="0" max="100" class="la-box discount validation"
                                               value="10"/>

                                    </td>
                                    <td class="total-amount">
                                        <input type="text" class="la-box total validation" step="0.01"
                                               value="21.00" readonly/>

                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-xs" role="group" aria-label="">
                                            <a href="" class="btn btn-warning btn-imei">IMEI</a>
                                            <a href="" class="btn btn-danger btn-remove"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>

                                        <!-- <a href="" class="btn btn-xs btn-danger btn-remove"><i
                                                 class="fa fa-trash"></i></a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-11 col-md-offset-1">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="total_riel" class="col-sm-5 control-label">Sub
                                                Total {{baseCurrency._id}}</label>

                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control subtotal_riel input-sm"
                                                           id="subtotal_usd"
                                                           value="{{sale.subTotalFormatted}}" readonly>
                                                    <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="total_discount" class="col-sm-5 control-label">Discount</label>

                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control validation input-sm"
                                                           id="total_discount"
                                                           value="{{sale.discount}}">
                                                    <span class="input-group-addon"><b>%</b></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label for="total_discount_amount"
                                                   class="col-sm-5 control-label">Discount</label>

                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control validation input-sm"
                                                           id="total_discount_amount"
                                                           value="{{sale.discountAmount}}">
                                                    <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="total_usd"
                                                   class="col-sm-5 control-label">Total {{baseCurrency._id}}</label>

                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control input-sm" id="total_usd"
                                                           value="{{sale.totalFormatted}}"
                                                           readonly>
                                                    <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="pull-right">

                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"><i class="fa fa-undo"></i>&nbsp;Resume<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {{#each sales}}
                                <!--onclick="Session.set('hasUpdate', false);"-->
                                <li><a href="/pos/checkout/{{_id}}" class="resume" data-id="{{_id}}">{{_customer.name}}
                                    | {{_id}}</a></li>
                            {{/each}}

                        </ul>
                    </div>
                    <button type="button" id="suspend" class="btn btn-info"><i class="fa fa-archive"></i>&nbsp;Suspend
                    </button>
                    <a href="/pos/checkout/print/{{sale._id}}" id="btn-print" class="btn hidden btn-primary"
                       target="_blank"><i
                            class="fa fa-money"></i>&nbsp;Print</a>
                    <a id="print-invoice" class="btn btn-warning"><i
                            class="fa fa-money"></i>&nbsp;Print</a>
                    <a id="save-without-pay" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <button type="button" class="btn btn-success" data-toggle="modal" id="btn-pay"><i
                            class="fa fa-money"></i>&nbsp;Pay
                    </button>
                    <button type="button" class="btn btn-danger" id="cancel-sale"><i class="fa fa-trash-o"></i>&nbsp;Cancel
                    </button>
                </div>
            </div>

        </div>
    </div>
</template>
