<template name="restaurant_navbar">
    <ul class="nav navbar-nav">
        <li class="{{isActiveRoute name='restaurant.home'}}"><a href="{{pathFor 'restaurant.home'}}">
            <i class="fa fa-home"></i> Home
        </a></li>
        <li class="{{isActiveRoute name='restaurant.checkout'}}">
            <a href="{{pathFor 'restaurant.checkout'}}">
                <i class="fa fa-money"></i> Sale </a>
        </li>

        {{#if noSeller}}
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-cogs"></i> Manage <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="{{isActiveRoute name='restaurant.customer'}}"><a href="{{pathFor 'restaurant.customer'}}">
                        Customer</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.supplier'}}"><a href="{{pathFor 'restaurant.supplier'}}">
                         Supplier</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.staff'}}"><a href="{{pathFor 'restaurant.staff'}}">
                         Staff</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.userStaff'}}"><a href="{{pathFor 'restaurant.userStaff'}}">
                         User Staff Mapping</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.location'}}"><a href="{{pathFor 'restaurant.location'}}">
                         Location</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.locationSetting'}}"><a href="{{pathFor 'restaurant.locationSetting'}}">
                         Location Setting</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.locationTransfer'}}"><a href="{{pathFor 'restaurant.locationTransfer'}}">
                         Location Transfer</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.salePayment'}}"><a href="{{pathFor 'restaurant.salePayment'}}">
                         Sale Payment</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.purchasePayment'}}"><a href="{{pathFor 'restaurant.purchasePayment'}}">
                         Purchase Payment</a>
                    </li>
                    <!--<li class="{{isActiveRoute name='restaurant.adjustment'}}"><a href="{{pathFor 'restaurant.adjustment'}}">
                         Stock Adjustment</a>
                    </li>-->
                    <!--<li class="{{isActiveRoute name='restaurant.promotionQty'}}"><a href="{{pathFor 'restaurant.promotionQty'}}">
                         Promotion Quantity
                    </a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.promotionTotalAmount'}}"><a
                            href="{{pathFor 'restaurant.promotionTotalAmount'}}">
                         Promotion Total Amount</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.promotionPercentage'}}"><a
                            href="{{pathFor 'restaurant.promotionPercentage'}}">
                         Promotion Percentage</a>
                    </li>-->
                </ul>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-cogs"></i> Setting <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="{{isActiveRoute name='restaurant.exchangeRate'}}"><a href="{{pathFor 'restaurant.exchangeRate'}}">
                         Exchange</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.category'}}"><a href="{{pathFor 'restaurant.category'}}">
                         Category</a>
                    </li>
                 <!--   <li class="{{isActiveRoute name='restaurant.subCategory'}}"><a href="{{pathFor 'restaurant.subCategory'}}">
                         Sub Category</a></li>-->
                    <li class="{{isActiveRoute name='restaurant.unit'}}"><a href="{{pathFor 'restaurant.unit'}}">
                         Unit</a></li>
                    <li class="{{isActiveRoute name='restaurant.product'}}"><a href="{{pathFor 'restaurant.product'}}">
                         Product</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-eye"></i> View List <span
                        class="label label-danger">{{getPublishedCount 'owedSale'}}</span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <!--<li class="{{isActiveRoute name='restaurant.stock'}}"><a href="{{pathFor 'restaurant.stock'}}">
                        <i class="fa fa-eye"></i> Stock List</a>
                    </li>-->
                    <li class="{{isActiveRoute name='restaurant.saleList'}}"><a href="{{pathFor 'restaurant.saleList'}}">
                         Sale List
                        <span class="label label-danger">{{getPublishedCount 'owedSale'}}</span></a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.purchaseList'}}">
                        <a href="{{pathFor 'restaurant.purchaseList'}}">
                         Purchase List
                        <!--<span class="label label-danger">{{getPublishedCount 'owedSale'}}</span>-->
                        </a>
                    </li>
                </ul>
            </li>

            <!--
            <li class="{{isActiveRoute name='restaurant.purchase'}}">
                <a href="{{pathFor 'restaurant.purchase'}}">
                     Purchase</a>
            </li>
             <li class="{{isActiveRoute name='restaurant.endOfProcess'}}"><a href="{{pathFor 'restaurant.endOfProcess'}}">
                    <i class="fa fa-save"></i> EOP</a>
            </li>-->

            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-file-text"></i> Reports <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <!--<li class="{{isActiveRoute name='restaurant.myCustomerReport'}}"><a
                        href="{{pathFor 'restaurant.myCustomerReport'}}">Sample</a>
                </li>-->
                    <li class="{{isActiveRoute name='restaurant.saleReport'}}"><a href="{{pathFor 'restaurant.saleReport'}}">
                        <i class="fa fa-file-text"></i> Sale Summery</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.saleDetailReport'}}"><a
                            href="{{pathFor 'restaurant.saleDetailReport'}}">
                        <i class="fa fa-file-text"></i> Sale Items Detail</a>
                    </li>
                    <li class="divider"></li>
                    <li class="{{isActiveRoute name='restaurant.purchaseReport'}}"><a href="{{pathFor 'restaurant.purchaseReport'}}">
                        <i class="fa fa-file-text"></i> Purchase Summery</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.purchaseDetailReport'}}"><a
                            href="{{pathFor 'restaurant.purchaseDetailReport'}}">
                        <i class="fa fa-file-text"></i> Purchase Items Detail</a>
                    </li>
                    <li class="divider"></li>
                    <li class="{{isActiveRoute name='restaurant.stockReport'}}"><a href="{{pathFor 'restaurant.stockReport'}}">
                        <i class="fa fa-file-text"></i> Stock Balance</a>
                    </li>
                    <li class="divider"></li>
                    <li class="{{isActiveRoute name='restaurant.owedCustomerReport'}}"><a
                            href="{{pathFor 'restaurant.owedCustomerReport'}}">
                        <i class="fa fa-file-text"></i> Owed Customer</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.owesSupplierReport'}}"><a
                            href="{{pathFor 'restaurant.owesSupplierReport'}}">
                        <i class="fa fa-file-text"></i> Owes Supplier</a>
                    </li>

                </ul>
            </li>
            <!--<li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-wrench"></i> Tools <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">

                    <li class="{{isActiveRoute name='restaurant.backup'}}"><a href="{{pathFor 'restaurant.backup'}}">
                        <i class="fa fa-files-o"></i> Backup</a>
                    </li>
                    <li class="{{isActiveRoute name='restaurant.restore'}}"><a href="{{pathFor 'restaurant.restore'}}">
                        <i class="fa fa-files-o"></i> Restore</a>
                    </li>

                </ul>
            </li>-->
        {{/if}}
    </ul>
</template>


<template name="restaurant_saleNotification">
    <ul>
        {{#each restaurant_saleNotification}}
            <li>{{_customer.name}} | {{_id}}</li>
        {{/each}}
    </ul>
</template>